[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-xdist = "*"
coverage = "*"
pytest-cov = "*"

[packages]
pyexcel = "*"
pyexcel-xls = "*"
dictionaries = "*"
attrs = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
